<h1>"Form...."</h1>


<html>
    <head>
        <title>Django Girls blog</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    </head>
  
  
  <div class="content container" color="green">
    <div class="row">
        <div class="col-md-8">
  <form>
  Employee name:<br>
  <input type="text" name="firstname"><br>
  Degree:<br>
  <input type="text" name="lastname">
  <br><br>
  <input type="submit" value="Submit">
</form>

    </div>
    </div>
</div>
  
</html>




    <div class="row">
        <div class="col-md-8">
            {% for post in posts %}
                <div class="post">
                    <div class="date">
                        <p>published: {{ post.published_date }}</p>
                    </div>
                    <h1><a href="">{{ post.title }}</a></h1>
                    <p>{{ post.text|linebreaks }}</p>
                </div>
            {% endfor %}
    